---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

// does not seem to work :(
// cSpell:enable
const features: Array<FeatureItem> = [
  {
    title: "Battery Control and Charging",
    description:
      "Switches to battery backup on power failure, and the built-in charge controller recharges the battery upon power restoration.",
    icon: "clarity:battery-line",
  },
  {
    title: "Alternate Power Source",
    description:
      "NanoUPS has an alternate power input that bypasses the charge controller, but is still monitored by the current sensor so solar, wind, etc. power sources can be used to extend or replace main power.",
    icon: "mdi:solar-power",
  },
  {
    title: "Plug-In Power Modules",
    description:
      "NanoUPS can accept 2 P783F-Q24 DC DC converters so different DC loads can be accommodated. The enable signals are exposed on the screw cage connectors, so loads can be remotely shut down if needed.",
    icon: "clarity:plugin-line",
  },
  {
    title: "Extended Battery Runtime",
    description:
      "The combination of a LiFePO4 battery, which have a deeper allowable discharge range, and direct DC power to the loads, which dramatically reduces the losses between the battery and the load, results in much longer runtimes compared to AC / SLA UPSs.",
    icon: "mdi:clock-outline",
  },
  {
    title: "Visibility Enabled",
    description:
      "The battery current and voltage is exposed on the screw cage connectors, making is possible to monitor and record the state of the battery over time.",
    icon: "mdi:barometer",
  },
  {
    title: "No Lonely Components",
    description:
      "A top priority when designing the NanoUPS circuit board is multi-sourcing components. When single-source components go out of stock or production, building new, or repairing existing, units becomes difficult or impossible.",
    icon: "mdi:account-group",
  },
];
---

<!-- https://icon-sets.iconify.design/material-symbols/ -->

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    NanoUPS fits in the slot of space between a small DIN rail power supply and a 5Ah battery 
    in a <span class="text-primary">NEMA</span> enclosure.
  </Fragment>

  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>

  <p>Checkout the <span class="text-primary">NanoUPS</span> schematic, drawdown and recharge test data and plugin examples below.</p>

  <!-- https://github.com/natemoo-re/astro-icon to see icons, not clear which icons can be used. -->
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      aria-label="NanoUPS schematic"
      href="/BattBackBasicSchV2.pdf"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
      target="_blank"
    >
      <Icon pack="carbon" name="schematics" class="h-8" />
      <span>NanoUPS Schematic</span>
    </a>
    <a
      aria-label="View test data on GitHub"
      href="https://github.com/conciseusa/jupyter/blob/main/NanoUPS.ipynb"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
      target="_blank"
    >
      <Icon pack="carbon" name="logo-jupyter" class="h-8" />
      <span>View test data on GitHub</span>
    </a>
  </div>

  <div class="grid grid-cols-1 gap-2 sm:grid-cols-3">
    <a
      aria-label="LM317-P783 schematic"
      href="/LM317-P783-sch.png"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
      target="_blank"
    >
      <Icon pack="carbon" name="schematics" class="h-8" />
      <span>LM317-P783 Schematic</span>
    </a>
    <a
      aria-label="LM2596-P783 schematic"
      href="/LM2596-P783-sch.pdf"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
      target="_blank"
    >
      <Icon pack="carbon" name="schematics" class="h-8" />
      <span>LM2596-P783 Schematic</span>
    </a>
    <a
      aria-label="P783F-S Series"
      href="https://www.cui.com/product/dc-dc-converters/non-isolated/p783f-s-series"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
      target="_blank"
    >
      <Icon pack="ph" name="plug" class="h-8" />
      <span>P783F-S Series Module</span>
    </a>
  </div>
  </ContentSection>
