---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="NanoUPS power the load, not the inverter" id="intro">
  <Icon slot="eyebrow" name="NanoLogo" class="h-32" />
  <Fragment slot="lead">
    NanoUPS is a compact DC Uninterruptible Power Supply compatible with
    <span class="text-primary">LiFePO4</span> and
    <span class="text-primary">Lead Acid</span>
    batteries.
  </Fragment>
</ContentSection>
